<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/atelier-sulphurpool.dark.min.css">
    <!--<%= javascript_include_tag "application" %>>-->
    <%= javascript_include_tag "/javascripts/viewmodel/posts/index" %>
    <%= javascript_include_tag "/javascripts/viewmodel/posts/show" %>
    <%= javascript_include_tag "/javascripts/viewmodel/posts/edit" %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <%= notice %>
    <div class='container'>
      <%= yield %>
    </div>
    <%= alert %>
  </body>
</html>
